<section>
    <div class="conainer mt-5">
        <div>
            <h3 style="text-align: center;">Member Creation</h3>
        </div>

        <div class="d-flex justify-content-center mt-5">

            <div style="width: 30rem; border:1px solid rgb(35, 1, 158); padding: 25px;">
                <div class="col 4">
                    <form action="/admin/add-member" method="POST" id="add-member">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="fname" id="fname">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="Lname" id="">
                        <label for="">Mobile No</label>
                        <input type="number" class="form-control" name="Mobile" id="mobile">
                        <label for="">Monthly Payement</label>
                        <input type="number" class="form-control" name="payment" id="mobile">

                        <input type="text" class="form-control" name="grup" id="ggg" value="Nill" hidden >


                        
                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>


                    </form>
                </div>


            </div>
        </div>

    </div>
</section>