<section>
    <div class="container mt-5 " style="align-items: center;">
        <div class="mt-5">
            <div class=" d-flex justify-content-center col-md-4  m-auto"
                style="border-style: solid;border-color: blue; border-width: medium; width: 30rem; height: 10rem;">

                <div class="mt-5">

                    <form action="/serch" method="POST">

                        <div class="form-group">
                            <label for="">Mobile Number</label>
                            <input type="number" class="form-control" name="phone">

                        </div>

                        <br>

                        <div class="mr-auto  d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>
</section>